body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game {
  font-family: sans-serif;
  margin-bottom: 1em;
  text-align: center;
}

